<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>EHouse</title>
    <base href="/">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link
      rel="shortcut icon"
      type="image/png"
      href="public/images/icon-House.png"
    />
  </head>
  <body class="mat-typography">

  <main>
    <!--
    <section class="hero">
      <div class="hero-img">
        <img src="img/House-background.jpg">
      </div>
    </section>
  -->
    <section class="container" id="home">
      <div class="container__leading">
        <h2 class="title">
          <p>Bienvenidos a </p>
          <p id="second"> EHOUSE </p>
          <p> Te acompañamos en tu siguiente aventura </p>

        </h2>
      </div>
    </section>
    <section class="container" id="about-us">
      <div class="about__leading">
        <h2>Acerca de</h2>
      </div>
      <div class="about__content">
        <p>
          <b>EHouse</b> se presenta como una plataforma web innovadora destinada a transformar la experiencia de
          reserva de alojamiento. En un mundo donde las opciones para alquilar casas y departamentos son
          abundantes, EHouse se distingue por ofrecer una solución integral que aborda las necesidades y
          desafíos actuales de los viajeros.
        </p>
      </div>
    </section>
  </main>
  <footer class="footer">
    <section>
      &copy; EHouse - Todos los derechos reservados 2024
    </section>
    <section class="footer_item">
      <a class="footer_link" href="#" target="_blank">
        <i class="fab fa-facebook-square"></i>
      </a>
      <a class="footer_link" href="#" target="_blank">
        <i class="fab fa-instagram"></i>
      </a>
    </section>
  </footer>

  <!--
  <section class="hero">
    <div class="hero-img">
      <img src="images/House-background.jpg">
    </div>
    <div class="hero-content">
      <h1>WELCOME TO EHOUSE</h1>
      <p>Feel at home on your next adventure</p>
      <button class="btn-new-reserva">Reserva ahora</button>
      <div class="scroll-indicator">
        <p>Scroll</p>
        <i class="arrow-down">&#8595;</i>
      </div>
    </div>
  </section>

  <div class="hotel-container">
    <div class="hotel-card">
      <div class="hotel-image">
        <img src="images/hilton.jpg" alt="Hilton Lima Miraflores AV. LA PAZ & MANCO CAPACr">
      </div>
      <div class="hotel-info">
        <h3>Sheraton Lima Historic Center</h3>
        <p>★★★★ Hotel</p>
        <p>Lima, a 10.5 km de Santiago de Surco</p>
        <p>8.7 - Excelente (2739)</p>
      </div>
      <div class="price-button">
        <div>
          <p class="price">S/. 92 por noche</p>
          <a href="/new-reserva">Ver precios</a>
        </div>
      </div>
    </div>
     Puedes duplicar la estructura de .hotel-card para añadir más hoteles
    <div class="hotel-card">
      <div class="hotel-image">
        <img src="images/sheraton.jpg" alt="Hotel Asturias">
      </div>
      <div class="hotel-info">
        <h3>Sheraton Lima Historic Center</h3>
        <p>★★★★ Hotel</p>
        <p>Lima, Av. Ignacio Merino, 2500 Lince 15046</p>
        <p>8.7 - Excelente (1560)</p>
      </div>
      <div class="price-button">
        <div>
          <p class="price">S/. 92 por noche</p>
          <a href="/new-reserva">Ver precios</a>
        </div>
      </div>
    </div>



  </div>
  -->
  </body>
  </html>
